<div align="center" style="padding: 20px;">
<button onclick="goBack()" class="btn btn-primary btn-large" >Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>
</div>
</body>
</html>