<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    
    <title>Shubham's Portfolio</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async:true></script>
    <script src="https://kit.fontawesome.com/6534df64fa.js" crossorigin="anonymous"></script>
  <style>
       body {
    background-color: #000;
  }
  #landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
    text-decoration: rgb(129, 75, 255);
  }
  #eduheader{
    padding-top: 20vh;
    position: relative;
    
    font-weight: bold;
  color: #fff;
  font-size: 50px;
  }
  #eduheader li{
    padding-bottom: 10px;
  }
  #ot{
    padding-top: 20vh;
    position: relative;
    text-align: center;
    font-weight: bold;
  color: #fff;
  }
  #landing-header li,h5 {
    color: #fff;
  }
  #landing-header h1 {
  font-weight: bold;
  color: #fff;
  font-size: 50px;
}
p{
  font-weight: bold;
  color: #fff;
  }
#profile-header{
  font-weight: bold;
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding-top: 100px;
}
.c{
  height: 180px;
}
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 
.c:hover {
  border-radius:10px;
  transform: scale(1.1);
  }
  .slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; }
    .slideshow li:nth-child(1) { 
        background-image: url(https://cutewallpaper.org/21/web-designer-wallpapers/Part-I-Inside-the-Mind-of-a-Web-Developer-Princeton-.jpg);
      }
      
      .slideshow li:nth-child(2) { 
        background-image: url(https://templatefor.net/wp-content/uploads/2018/02/The-Time-is-Now-Computer-Wallpapers.jpg);
        animation-delay: 10s; 
      }
      .slideshow li:nth-child(3) { 
        background-image: url(https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
        animation-delay: 20s; 
      }
      .slideshow li:nth-child(4) { 
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQnrJU-c12bPY_zpm634BeIeD-xcPFq2SE7D1L1A7rZzhXWeLQj&usqp=CAU);
        animation-delay: 30s; 
      }
      .slideshow li:nth-child(5) { 
        background-image: url(https://line25.com/wp-content/uploads/2016/06/2-Man-holds-the-program-code.jpg);
        animation-delay: 40s; 
      }
      
      
      @keyframes imageAnimation { 
        0% { 
          opacity: 0; 
          animation-timing-function: ease-in;
        }
        10% {
          opacity: 1;
          animation-timing-function: ease-out;
        }
        20% {
          opacity: 1
        }
        30% {
          opacity: 0
        }
      }
      .no-cssanimations .slideshow li {
        opacity: 1;
    }

    

   </style>
</head>
<body>
   
