<%-include("partials/header")%>

<h1 id="eduheader" style="color:whitesmoke; text-align: center; font-weight: bold; font-size: 50px;" >Languages I know </h1>
<div class="container">
<div class="row">
    <div class=".col-12 .col-md-8">
<div id="eduheader">
	<h5>
<ul>
    
        <li>
            Programming Foundations with JavaScript, HTML and CSS <br/>
            Duke University (Coursera)<br/>
            VERIFY-  coursera.org/verify/BNDYMQE958Y3 <br/>
        </li>
        <li>
            FULL STACK Web Developer Bootcamp online course<br/>
            Udemy<br/>
            VERIFY-  https://www.udemy.com/certificate/UC-0da2b2cc-1c51-402b-9d37-d2de2f52002a/<br/>
        </li>

       
        
        
</ul>

</div>
</div>
</div>

</div>

<%-include("partials/footer")%>