<%-include("partials/header")%>

<h1 id="eduheader" style="color:whitesmoke; text-align: center; font-weight: bold; font-size: 50px;" > Education </h1>

<div class="container">
<div class="row">
    <div class=".col-12 .col-md-8">
<div id="eduheader">
<ul>
    <h5>
        <li>
            B.Tech, CSE with specialization in IT<br/>
            SRMIST(KTR campus), Chennai<br/>
            06/2018 – Present<br/>
        </li>
        <li style="padding-top: 50px;" >
            CLASS XI - XII <br/>
            JBM Global School, Noida<br/>
            2016 – 2018
        </li>
        <li style="padding-top: 50px;" >
            LKG - CLASS X<br/>
            Summer Fields School, Delhi<br/>
            2004 – 2016
        </li>
    </h5>
</ul>
</div>
</div>
</div>

</div>

<%-include("partials/footer")%>
