<%-include("partials/header")%>

<h1 id="eduheader" style="color:whitesmoke;text-align: center;  font-weight: bold; font-size: 50px;" > My Work Experience </h1>
<div class="container">
<div class="row">
    <div class=".col-12 .col-md-8">
<div id="eduheader">
<ul>
    <h5>
        <li>
            Committee Head <br/>
            Aaruush, SRMIST<br/>
            Mar 2020 - Present<br/>

        </li>
        <li style="padding-top: 50px;" >
            Committee Member<br/>
            Aaruush, SRMIST<br/>
            Mar 2019 - Feb 2020<br/>
            
        </li>
        <li style="padding-top: 50px;" >
            Campus Ambassador <br/>
            CodePark<br/>
            Oct 2019 - Dec 2019<br/>
        </li>
        <li style="padding-top: 50px;" >
            Technical Team Member<br/>
            SRMPEDIA, SRMIST<br/>
            Sep 2019 - Feb 2020<br/>
        </li>
        <li style="padding-top: 50px;" >
            Volunteer<br/>
            Aaruush, SRMIST<br/>
           Jul 2018 - Feb 2019<br/>
        </li>
    </h5>
</ul>
</div>
</div>
</div>

</div>

<%-include("partials/footer")%>
