<h1 id="a">Who am I?</h1> 
<p>Hi, My name is SHUBHAM KAPOOR.<br>
I am currently studying Btech in CSE with specialisation in IT from SRMIST.</p>
<h1>My Hobbies</h1>
<ul>
	<li><b>Play Football</b><br></li>
	<li><b>Listen Music</b><br></li>
	<li><b>Coding</b><br></li>
	<li><b>Gaming</li>
</ul>
<h1>Experience</h1>
	<ul style="list-style-type:square;" >
		<li>Campus ambassador Internship-CODEPARK(Oct 2019- Dec 2019)</li>
		<li>Technical Team-SRMPEDIA(Sep 2019-Feb 2020)</li>
		<li>Aaruush(Tech Fest)
			<ul>
				<li>Volunteer(Jun 2018- Feb 2019)</li>
				<li>Committee Member(Mar 2019-Present)</li> 
			</ul>
		</li>
	</ul>
<h1><a href="/skills"> My Skills </a></h1>

<h1>Certifications</h1>
<ul>
	<li>Programming Foundations with JavaScript, HTML and CSS - DUKE UNIVERSITY (COURSERA) <a href="https://coursera.org/share/e25746ce341a461cd1e4f96eba2a1ade">Verify</a></li>
    
</ul>
<h1>Languages I Know</h1>
<ol>
	<li>English</li>
	<li>Hindi</li>
	<li>French</li>
</ol>



