<%-include("partials/header")%>




<div id="landing-header">
    <h1>HELLO, I'M SHUBHAM KAPOOR</h1>
    <div class="row" style="padding-top: 70px;">
		<div class="col">
			<a  href="/moreinfo" style="margin-right: 40px;"><button class="btn btn-success btn-lg" >VIEW PORTFOLIO</button></a>
		
			<a  href="/contact" ><button class="btn btn-success btn-lg" > CONTACT</button></a>
		</div>
	</div>

</div>



<ul class="slideshow">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
  </ul>

  <!-- <a  href="/moreinfo" style="padding-right:120px;"  ><button class="btn btn-success btn-lg" style="margin-top:80px;" >VIEW PORTFOLIO</button></a>
  <a  href="/contact" style="padding-right:120px;" ><button class="btn btn-success btn-lg" style="margin-top:80px;"> CONTACT</button></a> -->


















<%-include("partials/footer")%>