<%-include("partials/header")%>

<div>
    <div id="profile-header">
        <hr>
        <div style="padding-top: 40px;"">
        Hi, I'm SHUBHAM KAPOOR & I'm a Web Developer.
        </div>
        <div style="padding-top: 40px;"">
        <hr>
    </div>
    </div>
</div>
<div class="row">
<div class=".col-6 .col-md-4" style="padding-left:50px ;padding-top: 50px;">
<div class="card c" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title" style="color: black;" >Education</h5>
      
      <p class="card-text" style="color: black;" >I am studying B.Tech in CSE with specialisation in IT from SRMIST.</p>
      <a href="/edu" class="card-link">READ MORE</a>
      
    </div>
  </div>
</div>


    <div class=".col-6 .col-md-4" style="padding-left:50px ;padding-top: 50px;">
    <div class="card c" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title" style="color: black;" >Work Experience</h5>
          
          <p class="card-text" style="color: black;" >My Work Experience includes...</p>
          <a href="/exp" class="card-link">READ MORE</a>
          
        </div>
      </div>
    </div>

    <div class=".col-6 .col-md-4" style="padding-left:50px ;padding-top: 50px;">
        <div class="card c" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title" style="color: black;" >Skills</h5>
              
              <p class="card-text" style="color: black;" > Skills I have...</p>
              <a href="/skills" class="card-link">READ MORE</a>
              
            </div>
          </div>
        </div>


        <div class=".col-6 .col-md-4 " style="padding-left:50px ;padding-top: 50px;">
            <div class="card c" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title" style="color: black;" >Projects</h5>
                  
                  <p class="card-text" style="color: black;" > I have made some Projects...[Check on Linkedin for Project Links]</p>
                  <a href="/pro" class="card-link">READ MORE</a>
                  
                </div>
              </div>
            </div>

            <div class=".col-6 .col-md-4" style="padding-left:50px ;padding-top: 50px;">
                <div class="card c" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title" style="color: black;" >Languages I know</h5>
                      
                      <p class="card-text" style="color: black;" >I Know English,...</p>
                      <a href="/lang" class="card-link">READ MORE</a>
                      
                    </div>
                  </div>
                </div>

                <div class=".col-6 .col-md-4" style="padding-left:50px ;padding-top: 50px;">
                    <div class="card c" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title" style="color: black;" >Certificates</h5>
                          
                          <p class="card-text" style="color: black;" >I have Completed these courses...</p>
                          <a href="/cert" class="card-link">READ MORE</a>
                          
                        </div>
                      </div>
                    </div>
                    <div class=".col-6 .col-md-4" style="padding-left:50px ;padding-top: 50px;">
                        <div class="card c" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title" style="color: black;" >My Hobbies</h5>
                              
                              <p class="card-text" style="color: black;" >My hobbies are...</p>
                              <a href="/hobbies" class="card-link">READ MORE</a>
                              
                            </div>
                          </div>
                        </div>

    


</div>







<div>
    <div id="profile-header">
        <hr>
        <div style="padding-top: 40px;"">
        <a href="/contact">Contact Me</a>
        </div>
        <div style="padding-top: 40px;"">
        <hr>
    </div>
    </div>
</div>








<%-include("partials/footer")%>