<%-include("partials/header")%>

<h1 id="eduheader" style="color:whitesmoke; text-align: center; font-weight: bold; font-size: 50px;" > My Skills </h1>
<div class="container">
<div class="row">
    <div class=".col-12 .col-md-8">
<div id="eduheader">
	<h5>
<ul>
    
        <li>
            C++ <br/>
		</li>
		<li>
            C<br/>
		</li>
		<li>
            HTML 5 <br/>
		</li>
		<li>
            CSS 3 <br/>
		</li>
		<li>
            JavaScript <br/>
		</li>
		<li>
            Jquery <br/>
		</li>
		<li>
            Bootstrap 4 <br/>
		</li>
		<li>
            Node.js <br/>
		</li>
		<li>
            Express.js <br/>
        </li>
		<li>
            MongoDB <br/>
		</li>
		<li>
           PassportJS <br/>
		</li>
		<li>
            Python <br/>
        </li>
		
	   
	
	
</ul>
</h5>
	<h2 id="ot" style="color:whitesmoke;  font-weight: bold; padding-bottom: 50px;" > Other Skills </h2> 
	
	<ul>
		<h5>
		<li>
			Authentication<br/>
		</li>
		<li>
			Authorization<br/>
		</li>
		<li>
			REST API<br/>
		</li>
		<li>
			Database Associations<br/>
		</li>
		<li>
            Data Structures <br/>
		</li>
		<li>
			Object Oriented Programming<br/>
		</li>
		<li>
			Document Object Model<br/>
		</li>
		<li>
			Microsoft Office<br/>
		</li>
		<li>
			AutoCAD<br/>
		</li>

	</h5>
	</ul>


</div>
</div>
</div>

</div>

<%-include("partials/footer")%>

